.main {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  color: white;
  font-size: 25px;
}

.main-search {
  padding: 30px;
}
@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }
}
